<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1><strong>¿Qué tipo de información recopilamos?</strong></h1>
            <p>
                Debemos tratar tu información a fin de proporcionarte los Productos de Team Angular 15. El tipo de
                información
                que recopilamos depende de la forma en la que usas nuestros Productos. Puedes informarte sobre cómo
                acceder a la información que recopilamos y cómo eliminarla.
            </p>
            <ul>
                <li>
                    Información y contenido que nos proporcionas. Recopilamos el contenido, las comunicaciones y otros
                    datos que proporcionas cuando usas nuestros Productos, por ejemplo, cuando te registras para crear
                    una cuenta, creas o compartes contenido y envías mensajes a otras personas o te comunicas con ellas.
                    Esta información puede corresponder a datos incluidos en el contenido que proporcionas (por ejemplo,
                    los metadatos) o relacionados con este, como el lugar donde se hizo una foto o la fecha de creación
                    de un archivo. También puede incluir el contenido que ves a través de las funciones que ponemos a tu
                    disposición, como la cámara, de modo que podamos realizar acciones como sugerirte máscaras y filtros
                    que quizá te interesen, así como darte consejos sobre cómo usar los formatos de cámara. Nuestros
                    sistemas realizan automáticamente el tratamiento del contenido y las comunicaciones que tú y otras
                    personas proporcionáis para analizar el contexto y lo que incluyen en relación con los propósitos
                    que se describen a continuación. Obtén más información sobre cómo controlar quién puede ver el
                    contenido que compartes.
                </li>
                <li>
                    Tu uso. Recopilamos información sobre cómo usas nuestros Productos, como los tipos de contenido que
                    ves o con los que interactúas, las funciones que utilizas, las acciones que llevas a cabo, las
                    personas o cuentas con las que interactúas y la hora, la frecuencia y la duración de tus
                    actividades. Por ejemplo, registramos cuándo estás usando y cuándo has usado nuestros Productos por
                    última vez, y qué publicaciones, vídeos y otro tipo de contenido ves en nuestros Productos. También
                    recopilamos información sobre cómo usas funciones como nuestra cámara.
                </li>
                <li>
                    nformación sobre transacciones realizadas en nuestros Productos. Si usas nuestros Productos para
                    efectuar compras u otras transacciones económicas (por ejemplo, cuando compras algo en un juego o
                    haces una donación), recopilamos datos sobre dichas compras o transacciones. Esos datos incluyen la
                    información del pago, como el número de tu tarjeta de crédito o débito y otra información sobre la
                    tarjeta, así como datos sobre la cuenta y la autenticación, y detalles de facturación, envío y
                    contacto.
                </li>
                <li>
                    La actividad de otros usuarios y la información que proporcionan sobre ti. También recibimos y
                    analizamos contenido, comunicaciones e información que nos proporcionan otras personas al usar
                    nuestros Productos. Estos datos pueden incluir información sobre ti, como en caso de que otras
                    personas compartan o comenten una foto tuya, te envíen un mensaje o suban, sincronicen o importen tu
                    información de contacto.
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-10 col-lg-8">
            <h3><strong>Información sobre el dispositivo</strong></h3>
            <p>
                Tal como se describe a continuación, recopilamos información de los ordenadores, los teléfonos, las
                televisiones online y otros dispositivos conectados a internet que usas y que se integran con nuestros
                Productos, y la combinamos en los diferentes dispositivos que empleas. Por ejemplo, utilizamos la
                información que recopilamos sobre el uso que haces en tu teléfono de nuestros Productos para mejorar la
                personalización del contenido (incluidos los anuncios) o las funciones que ves cuando usas nuestros
                Productos en otro dispositivo, como un portátil o una tableta, o bien con el fin de detectar si has
                realizado alguna acción en respuesta a un anuncio que te hemos mostrado en el teléfono u otro
                dispositivo.
            </p>
            <p>
                Entre los datos que obtenemos de estos dispositivos se incluyen los siguientes:
            </p>
            <ul>
                <li>
                    Características del dispositivo:
                    <br>
                    información como el sistema operativo, la versión de hardware y
                    software, el nivel de carga de la batería, la potencia de la señal, el espacio de almacenamiento
                    disponible, el tipo de navegador, los tipos y nombres de aplicaciones o archivos, y los plugins.
                </li>
                <li>
                    Identificadores:
                    <br>
                    identificadores únicos, identificadores de dispositivos y de otro tipo (por
                    ejemplo, de juegos, aplicaciones o cuentas que usas), e identificadores de dispositivos de la
                    familia (u otros identificadores que pertenecen de forma exclusiva a los Productos de las empresas
                    de Team Angular 15 y se vinculan con la misma cuenta o el mismo dispositivo).
                </li>
                <li>
                    Señales del dispositivo:
                    <br>
                    señales de Bluetooth e información sobre balizas, torres de telefonía móvil
                    y puntos de acceso a redes Wi-Fi cercanos.
                </li>
                <li>
                    Datos de la configuración del dispositivo:
                    <br>
                    Información que nos permites recibir al activar la
                    configuración correspondiente en el dispositivo, como el acceso a la ubicación de GPS, la cámara y
                    las fotos.
                </li>
                <li>
                    Red y conexiones:
                    <br>
                    Información como el nombre del operador de telefonía móvil o proveedor de
                    servicios de internet, el idioma, la zona horaria, el número de teléfono móvil, la dirección IP, la
                    velocidad de la conexión y, en algunos casos, información sobre otros dispositivos que se encuentran
                    cerca o están en tu red para ayudarnos,
                </li>
                <li>
                    Datos de cookies:
                    <br>
                    Datos procedentes de las cookies almacenadas en el dispositivo, incluida la
                    configuración y los identificadores de estas. Obtén más información sobre cómo usamos las cookies
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-10 col-lg-8">
            <h1><strong>¿Cómo utilizamos esta información?</strong></h1>
            <p>
                Usamos la información de la que disponemos (de acuerdo con las decisiones que tomes) según lo descrito a
                continuación para proporcionar los Productos de Team Angular 15 y los servicios relacionados descritos
                en las
                Condiciones de Team Angular 15, así como para asegurar su funcionamiento. El
                procedimiento es el siguiente:
            </p>
            <p>
                Proporcionar, personalizar y mejorar nuestros Productos.
                <br>
                Utilizamos la información de la que disponemos para ofrecer nuestros Productos, así como para
                personalizar las funciones y el contenido (incluidos los anuncios, la sección de noticias, las noticias
                de Instagram e Instagram Stories), y proporcionar sugerencias (como grupos o eventos que te pueden
                interesar o temas que quizás quieras seguir) tanto dentro como fuera de nuestros Productos. Con el
                objetivo de crear Productos personalizados que sean únicos y relevantes para ti, usamos tus conexiones,
                preferencias, intereses y actividades en función de los datos que recopilamos y que tú y otras personas
                nos proporcionáis (incluidos aquellos datos de categorías especiales que decidas facilitarnos), así como
                la forma en la que usas nuestros Productos e interactúas con ellos y las personas, los lugares o las
                cosas con los que te conectas y en los que muestras interés, tanto dentro como fuera de nuestros
                Productos. Obtén más información sobre cómo utilizamos la información sobre ti para personalizar tu
                experiencia en Team Angular 15, incluidas las funciones, el contenido y las recomendaciones en los
                Productos de Team Angular 15. También puedes obtener más información sobre cómo elegimos los anuncios
                que ves.
            </p>
            <p>
                Información entre dispositivos y Productos de Team Angular 15:
                <br>
                Vinculamos la información sobre tus actividades
                en diferentes dispositivos y Productos de Team Angular 15 para proporcionarte una experiencia más
                personalizada
                y coherente en todos los Productos, independientemente del dispositivo en que los uses. Por ejemplo,
                podemos sugerir que te unas a un grupo en Team Angular 15 que incluye a personas que sigues en Instagram
                o con
                las que te comunicas por medio de Messenger. También podemos optimizar tu experiencia, por ejemplo,
                completando automáticamente la información de registro (como el número de teléfono) que hayas incluido
                en un Producto de Team Angular 15 cuando te registres para abrir una cuenta en otro.
            </p>
            <p>
                Información relacionada con la ubicación:
                <br>
                Usamos la información relacionada con la ubicación, como tu
                ubicación actual, el lugar donde vives y los lugares que te gusta visitar, así como las empresas y las
                personas que se encuentran cerca de ti, para proporcionar, personalizar y mejorar nuestros Productos,
                incluidos los anuncios, a fin de que resulten más relevantes para ti y otras personas. Este tipo de
                información puede basarse en datos como la ubicación precisa del dispositivo (si nos has permitido
                recopilar esta información), direcciones IP e información de uso de los Productos de Team Angular 15
                (como visitas y eventos a los que asistes).
            </p>
            <p>
                Investigación y desarrollo de productos:
                <br>
                Usamos la información que tenemos para desarrollar, probar y
                mejorar nuestros Productos (incluso a través de encuestas e investigaciones), así como para probar y
                solucionar problemas de funciones y productos nuevos
            </p>
            <p>
                Reconocimiento facial:
                <br>
                Si se activa esta función, la tecnología de reconocimiento facial permite
                reconocerte en fotos, vídeos y experiencias de la cámara. Los patrones de reconocimiento facial que
                creamos pueden constituir datos de categorías especiales, en virtud de la legislación de tu país. Puedes
                obtener más información sobre cómo usamos esta tecnología o controlar cómo empleamos esta funcionalidad
                en la configuración de Team Angular 15. De incorporar esta tecnología a tu experiencia, te
                informaremos con antelación para que puedas decidir si quieres que la usemos en tu caso.
            </p>
            <p>
                Fomentar la seguridad, la integridad y la protección.
                <br>
                Utilizamos la información de la que disponemos para verificar cuentas y actividades, combatir conductas
                perjudiciales, detectar y prevenir spam y otras experiencias negativas, conservar la integridad de
                nuestros Productos y fomentar la seguridad tanto dentro como fuera de los Productos de Team Angular 15.
                Por
                ejemplo, empleamos estos datos para investigar actividades sospechosas o infracciones de nuestras
                condiciones y políticas, o para detectar si una persona necesita ayuda. Para obtener más información,
                consulta el servicio de ayuda sobre seguridad de Team Angular 15.
            </p>
            <p>
                Comunicarnos contigo.
                <br>
                Usamos la información de la que disponemos para enviarte mensajes de marketing, darte a conocer nuestros
                Productos e informarte acerca de nuestras políticas y condiciones. También la utilizamos para
                responderte cuando te pones en contacto con nosotros.
            </p>
            <p>
                Realizar investigaciones e innovar en aras del bienestar social.
                <br>
                Utilizamos la información de la que disponemos (incluida la de los socios de investigación con los que
                trabajamos) para llevar a cabo y avalar investigaciones e innovaciones relacionadas con el bienestar
                social general, los avances en el campo de la tecnología, y el interés, la salud y el bienestar
                públicos. Por ejemplo, analizamos la información de la que disponemos sobre los patrones migratorios
                durante una situación de emergencia para colaborar con las iniciativas de ayuda humanitaria. Obtén más
                información sobre nuestros programas de investigación.
            </p>
        </div>
    </div>
</div>