<%- include("../includes/header") %>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-11 col-lg-6">
                <div class="card border-0 bg-white shadow rounded p-3">
                    <img src="/images/activate-account.svg" width="150px" class="d-block mx-auto">
                    <div class="card-body bg-white">
                        <h4 class="text-center my-2">
                            Tu cuenta ha sido verificada con exito.
                        </h4>
                        <p class="text-muted text-center my-2">¡Hola <%= nickname %>! Ya puedes ingresar a tu cuenta, has completado todos los pasos de forma exitosa, asi que... ¡Manos a la obra!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../includes/footer") %>
